@using TheBlogFinalMVC.Models
@using TheBlogFinalMVC.Services
@using TheBlogFinalMVC.Enums
@using Microsoft.AspNetCore.Identity;
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject UserManager<BlogUser> userManager
@inject IImageService imageService

@model IPagedList<Post>

@foreach (Post post in Model.Take(1))
{
    <div class="flex-row d-flex justify-content-between p-2">
    <h1 class="hover-underline-animation text-dark fw-bolder">
        <span class="material-icons" style="color: #ff993b">
            newspaper
        </span>
        @post.Blog.Name.ToString()
    </h1>
</div>
}



<hr class="mx-2" />


<div class="row d-flex p-2">
    @foreach (var post in Model)
    {
        //Is the logged in user the Author of this post??
        var isAuthor = false;
        if (User.Identity.IsAuthenticated)
        {
            isAuthor = User.IsInRole(BlogRole.Administrator.ToString());
            isAuthor = isAuthor && (post.BlogUserId == userManager.GetUserId(User));
        }
        
        

        <div class="col-sm-12 col-lg-4 col-md-6 pb-2 my-3">

            <div class="card card-raised h-100">
                <a class="ripple-gray" asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug">
                    <div class="img-hover-zoom--brightness">
                        <img class="card-img-top img-fluid" src="@imageService.DecodeImage(post.ImageData, post.ContentType)" style="width: 100%; height: 300px; object-fit: cover;">
                    </div>
                </a>
                <div class="card-body m-1 p-1">
                    <a class="my-2 card-title text-dark fw-bolder text-decoration-none hover-underline-animation" asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug">
                        @post.Title
                    </a>
                    <p class="card-text">@post.Created.Date.ToString("dd MMM, yyyy")</p>
                    <h4 class="card-text card-subtitle my-2 pb-2" id="tooltip"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="@post.Abstract"
                    data-original-title="@post.Abstract">
                        @post.Abstract
                    </h4>



                </div>
                <div class="card-footer bg-white flex-row p-2 d-flex justify-content-between">
                    <div class="card-actions">


                        <a class="media" asp-action="About" asp-controller="Home">
                            <img class="rounded-circle" src="@imageService.DecodeImage(post.BlogUser?.ImageData, post.BlogUser?.ContentType)" style="width:40px; height: 40px" />
                        </a>
                        <span class="card-body text-dark">by <a class="text-decoration-none text-dark fw-bolder hover-underline-animation" asp-action="About" asp-controller="Home">@post.BlogUser.FirstName</a></span>

                        @if (isAuthor)
                        {
                            <a class="btn btn-text-warning" asp-action="Edit" asp-controller="Posts" asp-route-id="@post.Id">Edit Post</a>
                        }
                    </div>
                </div>
            </div>

        </div>
    }
</div>

<hr />

<div class="row d-flex p-2">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>
<div class="row d-flex p-2">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("BlogPostIndex", new { id = Model.FirstOrDefault().BlogId, page = page }),
        new PagedListRenderOptions
        {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
        })
    </div>
</div>